<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
        <mat-form-field>
            <input
                matInput
                type="text"
                formControlName="title"
                placeholder="Post Title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
        </mat-form-field>

        <div class="image-preview" *ngIf="mode === 'edit' && !imagePreview">
            <img [src]="post.imagePath" [alt]="form.value.title">
        </div>

        <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>

        <div>
            <button type="button" mat-stroked-button (click)="filePicker.click()">
                <span *ngIf="mode === 'create'">Pick Image</span>
                <span *ngIf="mode === 'edit'">Pick Different Image</span>
            </button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>

        <mat-form-field>
            <textarea
                matInput
                rows="4"
                formControlName="content"
                placeholder="Post Content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter some post content</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent">Save Post</button>
    </form>
</mat-card>

